@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
  --main-width: calc(100vw - 32px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
  color: #0F255C;
}

body {
  /* background: #f2f2f2; */
  background-image: url(img/pattern.svg);
  background-repeat: repeat;
}


.level_container {
  display: grid;
  grid-row-gap: 32px;
  width: min(var(--main-width), 360px);
  margin: 24px auto;
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 16px 32px rgba(0,0,0,.1);
  border: solid 4px #FAFAFA;
}

#my_dialog {
  text-align: center;
  width: min(var(--main-width), 500px);
  box-shadow: 0px 16px 32px rgba(0,0,0,.1);
  border-radius: 12px;
  margin: auto;
  border: solid 4px #FAFAFA;
  padding-top: 24px;
}

#my_dialog * {
  margin-bottom: 24px;
}


.level_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.emoji_button {
  padding: 0;
  font-size: 24px;
  background: none;
  border: none;
}

#my_dialog .emoji_button {
  font-size: 40px;
  margin: 8px;
}


#time_count {
  color: #BFBFBF;
}

#pause {
  display: none;
}



.task_form {
  width: 100%;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-items: center;
}

.task_form * {
  width: 100%;
}

.task_form span, #task {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  border: none;
  background: none;
}

.task_form span {
  color: #BFBFBF;
}

#solution {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  border: none;
  background: none;
}

#solution:focus, #task:focus {
  outline: none;
  background: none;
}

#solution::placeholder {
  font-weight: 500;
  color: #E5E5E5;
}




/* Numpad styles */

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 12px;
  grid-column-gap: 12px;
}

.numpad_key {
  width: 100%;
  height: 80px;
  font-size: 24px;
  background: linear-gradient(135.84deg, #F6FDFF -1.51%, #E5EEFF 100%);
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: background .2s, box-shadow .2s ;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 4px 2px rgba(0,0,100,.1);
}

.numpad_key:hover {
  background: linear-gradient(135.84deg, #F6FDFF -1.51%, #EFFBFF -1.51%, #C3D7FF 100%);
}

.numpad_key_pressed {
  box-shadow:
    inset -4px -4px 8px rgba(255,255,255,.5),
    inset 4px 4px 8px rgba(0,0,0,.08);
}

.numpad_action_key {}



/* Level animations */


.level_success_animation {
  transform-origin: center;
  animation: level_success_animation .4s 0s ease-in-out;
}

@keyframes level_success_animation {
  50%{box-shadow: 0px 32px 48px rgba(94,218,11,.2);}
}


.level_failure_animation {
  transform-origin: center;
  animation: level_failure_animation .3s 0s ease-in-out;
}

@keyframes level_failure_animation {
  0%{transform: rotate(0deg);}
  10%{transform: rotate(1deg);}
  30%{transform: rotate(-1deg);}
  50%{transform: rotate(1deg);}
  70%{transform: rotate(-1deg);}
  90%{transform: rotate(1deg);}
  100%{transform: rotate(0deg);}
}
